<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>Smart Contract Consulting</title>
		<meta name="description" content="Smart Contract Consulting">
		<meta name="keywords" content="smart contract, consulting, security, ethereum, bitcoin, blockchain, solidity">
	</head>
	<body>
		{{template "header" .}}
		{{template "index" .}}
		{{template "footer" .}}
	</body>
</html>
