{{define "content"}}
<div class="row">
	<div class="headers">
		<h1>Providing Assurance for <em>smart contracts.</em></h1>
	</div>
	<div class="column"></div>
	<div class="blurbs">
		<p>We provide code review for smart contract code and byte code of compiled contracts.</p>

<p>Reduce risk of attack on your smart contracts with our expert review.</p>

<p>Let us help you reduce your risk of loss.</p>
	</div>

	<div class="headers">
		<h1>We are a team of security and cryptography experts.</h1>
	</div>
	<div class="column"></div>
        <div class="blurbs">
		<p>We are experts in cryptography and code review.</p>
  
<p>We have experience with blockchain technologies and can help you with your smart contract project.</p>

<p>Let us perform a review of your smart contract code. </p>
	</div>

	<div class="headers">
		<h1>Contact us to get started.</h1>
	</div>
        <div class="column"></div>
        <div class="blurbs">
		<p>Get started now by <a href="mailto:sales@smartcontractconsulting.com">sending an email to sales@smartcontractconsulting.com.</a></p>

<p>Let us know what we can help you with.</p>
	</div>
</div>
{{end}}
